# Educational Attainment Census Data

- This notebook explores education data for Los Angeles County (ACS 5-year Estimates 2022) and compiles a few tables and maps to help visualize the data.

By Katie Greenler

## Importing the Data

In [1]:
# importing python libraries
import pandas as pd

In [2]:
# add csv file
df = pd.read_csv('Data/EducAttainment.csv')

## Inspecting the Data
Just want to see a quick snapshot of the data.

In [3]:
df.shape

(2498, 120)

In [4]:
df.head()

,GEOID,NAME,S1501_C01_001E,S1501_C01_002E,S1501_C01_003E,S1501_C01_004E,S1501_C01_005E,S1501_C01_006E,S1501_C01_007E,S1501_C01_008E,...,S1501_C02_045E,S1501_C02_046E,S1501_C02_047E,S1501_C02_048E,S1501_C02_049E,S1501_C02_050E,S1501_C02_051E,S1501_C02_052E,S1501_C02_053E,S1501_C02_054E
0,6037101110,Census Tract 1011.10; Los Angeles County; Cali...,300,40,169,60,31,3119,122,133,...,-,(X),76.2,12.8,(X),93.4,31.2,(X),81.1,14.6
1,6037101122,Census Tract 1011.22; Los Angeles County; Cali...,367,8,137,214,8,3132,467,37,...,-,(X),63,18.5,(X),75.7,24.7,(X),63.3,35.5
2,6037101220,Census Tract 1012.20; Los Angeles County; Cali...,325,40,112,149,24,2560,344,251,...,-,(X),55.2,0,(X),48.6,15.6,(X),51.1,13.9
3,6037101221,Census Tract 1012.21; Los Angeles County; Cali...,380,58,43,237,42,2682,348,346,...,-,(X),59.7,8.7,(X),50,20.3,(X),54.3,7.4
4,6037101222,Census Tract 1012.22; Los Angeles County; Cali...,206,0,98,82,26,2090,132,163,...,0,(X),100,0,(X),79.8,4.8,(X),79.5,10.3

## Data Types
Now I want to further investigate the data types.

In [5]:
# look at the data types, verbose = True shows us all the counts
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 120 columns):
 #    Column          Non-Null Count  Dtype
---   ------          --------------  -----
 0    GEOID           2498 non-null   int64
 1    NAME            2498 non-null   object
 2    S1501_C01_001E  2498 non-null   int64
 3    S1501_C01_002E  2498 non-null   int64
 4    S1501_C01_003E  2498 non-null   int64
 5    S1501_C01_004E  2498 non-null   int64
 6    S1501_C01_005E  2498 non-null   int64
 7    S1501_C01_006E  2498 non-null   int64
 8    S1501_C01_007E  2498 non-null   int64
 9    S1501_C01_008E  2498 non-null   int64
 10   S1501_C01_009E  2498 non-null   int64
 11   S1501_C01_010E  2498 non-null   int64
 12   S1501_C01_011E  2498 non-null   int64
 13   S1501_C01_012E  2498 non-null   int64
 14   S1501_C01_013E  2498 non-null   int64
 15   S1501_C01_014E  2498 non-null   int64
 16   S1501_C01_015E  2498 non-null   int64
 17   S1501_C01_016E  2498 non-null   int64
 18   S1501_C01_017E  2498 non-null   int64
 19   S1501_C01_018E  2498 non-null   int64
 20   S1501_C01_019E  2498 non-null   int64
 21   S1501_C01_020E  2498 non-null   int64
 22   S1501_C01_021E  2498 non-null   int64
 23   S1501_C01_022E  2498 non-null   int64
 24   S1501_C01_023E  2498 non-null   int64
 25   S1501_C01_024E  2498 non-null   int64
 26   S1501_C01_025E  2498 non-null   int64
 27   S1501_C01_026E  2498 non-null   int64
 28   S1501_C01_027E  2498 non-null   int64
 29   S1501_C01_028E  2498 non-null   int64
 30   S1501_C01_029E  2498 non-null   int64
 31   S1501_C01_030E  2498 non-null   int64
 32   S1501_C01_031E  2498 non-null   int64
 33   S1501_C01_032E  2498 non-null   int64
 34   S1501_C01_033E  2498 non-null   int64
 35   S1501_C01_034E  2498 non-null   int64
 36   S1501_C01_035E  2498 non-null   int64
 37   S1501_C01_036E  2498 non-null   int64
 38   S1501_C01_037E  2498 non-null   int64
 39   S1501_C01_038E  2498 non-null   int64
 40   S1501_C01_039E  2498 non-null   int64
 41   S1501_C01_040E  2498 non-null   int64
 42   S1501_C01_041E  2498 non-null   int64
 43   S1501_C01_042E  2498 non-null   int64
 44   S1501_C01_043E  2498 non-null   int64
 45   S1501_C01_044E  2498 non-null   int64
 46   S1501_C01_045E  2498 non-null   int64
 47   S1501_C01_046E  2498 non-null   int64
 48   S1501_C01_047E  2498 non-null   int64
 49   S1501_C01_048E  2498 non-null   int64
 50   S1501_C01_049E  2498 non-null   int64
 51   S1501_C01_050E  2498 non-null   int64
 52   S1501_C01_051E  2498 non-null   int64
 53   S1501_C01_052E  2498 non-null   int64
 54   S1501_C01_053E  2498 non-null   int64
 55   S1501_C01_054E  2498 non-null   int64
 56   S1501_C01_055E  2498 non-null   object
 57   S1501_C01_056E  2498 non-null   object
 58   S1501_C01_057E  2498 non-null   object
 59   S1501_C01_058E  2498 non-null   object
 60   S1501_C01_059E  2498 non-null   object
 61   S1501_C01_060E  2498 non-null   object
 62   S1501_C01_061E  2498 non-null   object
 63   S1501_C01_062E  2498 non-null   object
 64   S1501_C01_063E  2498 non-null   object
 65   S1501_C01_064E  2498 non-null   object
 66   S1501_C02_001E  2498 non-null   object
 67   S1501_C02_002E  2498 non-null   object
 68   S1501_C02_003E  2498 non-null   object
 69   S1501_C02_004E  2498 non-null   object
 70   S1501_C02_005E  2498 non-null   object
 71   S1501_C02_006E  2498 non-null   object
 72   S1501_C02_007E  2498 non-null   object
 73   S1501_C02_008E  2498 non-null   object
 74   S1501_C02_009E  2498 non-null   object
 75   S1501_C02_010E  2498 non-null   object
 76   S1501_C02_011E  2498 non-null   object
 77   S1501_C02_012E  2498 non-null   object
 78   S1501_C02_013E  2498 non-null   object
 79   S1501_C02_014E  2498 non-null   object
 80   S1501_C02_015E  2498 non-null   object
 81   S1501_C02_016E  2498 non-null   object
 82   S1501_C02_017E  2498 non-null   object
 83   S1501_C02_018E  2498 non-null   object
 84   S1501_C02_019E  2498 non-null   object
 85   S1501_C02_020E  2498 non-null   object
 86   S1501_C02_021E  2498 non-null   object
 87   S1501_C02_022E  2498 non-null   object
 88   S1501_C02_023E  2498 non-null   object
 89   S1501_C02_024E  2498 non-null   object
 90   S1501_C02_025E  2498 non-null   object
 91   S1501_C02_026E  2498 non-null   object
 92   S1501_C02_027E  2498 non-null   object
 93   S1501_C02_028E  2498 non-null   object
 94   S1501_C02_029E  2498 non-null   object
 95   S1501_C02_030E  2498 non-null   object
 96   S1501_C02_031E  2498 non-null   object
 97   S1501_C02_032E  2498 non-null   object
 98   S1501_C02_033E  2498 non-null   object
 99   S1501_C02_034E  2498 non-null   object
 100  S1501_C02_035E  2498 non-null   object
 101  S1501_C02_036E  2498 non-null   object
 102  S1501_C02_037E  2498 non-null   object
 103  S1501_C02_038E  2498 non-null   object
 104  S1501_C02_039E  2498 non-null   object
 105  S1501_C02_040E  2498 non-null   object
 106  S1501_C02_041E  2498 non-null   object
 107  S1501_C02_042E  2498 non-null   object
 108  S1501_C02_043E  2498 non-null   object
 109  S1501_C02_044E  2498 non-null   object
 110  S1501_C02_045E  2498 non-null   object
 111  S1501_C02_046E  2498 non-null   object
 112  S1501_C02_047E  2498 non-null   object
 113  S1501_C02_048E  2498 non-null   object
 114  S1501_C02_049E  2498 non-null   object
 115  S1501_C02_050E  2498 non-null   object
 116  S1501_C02_051E  2498 non-null   object
 117  S1501_C02_052E  2498 non-null   object
 118  S1501_C02_053E  2498 non-null   object
 119  S1501_C02_054E  2498 non-null   object
dtypes: int64(55), object(65)
memory usage: 2.3+ MB

In [6]:
# I want to check my GEOID field to see how it looks
df.GEOID.head()

0    6037101110
1    6037101122
2    6037101220
3    6037101221
4    6037101222
Name: GEOID, dtype: int64

In [7]:
# the leading zero disappeared which is an issue so I want to re-import the data with the proper specificification
df = pd.read_csv(
    'Data/EducAttainment.csv',
    dtype=
    {
        'GEOID':str,
    }
)

In [8]:
# check to see if GEOID displays properly now
df.head()

,GEOID,NAME,S1501_C01_001E,S1501_C01_002E,S1501_C01_003E,S1501_C01_004E,S1501_C01_005E,S1501_C01_006E,S1501_C01_007E,S1501_C01_008E,...,S1501_C02_045E,S1501_C02_046E,S1501_C02_047E,S1501_C02_048E,S1501_C02_049E,S1501_C02_050E,S1501_C02_051E,S1501_C02_052E,S1501_C02_053E,S1501_C02_054E
0,06037101110,Census Tract 1011.10; Los Angeles County; Cali...,300,40,169,60,31,3119,122,133,...,-,(X),76.2,12.8,(X),93.4,31.2,(X),81.1,14.6
1,06037101122,Census Tract 1011.22; Los Angeles County; Cali...,367,8,137,214,8,3132,467,37,...,-,(X),63,18.5,(X),75.7,24.7,(X),63.3,35.5
2,06037101220,Census Tract 1012.20; Los Angeles County; Cali...,325,40,112,149,24,2560,344,251,...,-,(X),55.2,0,(X),48.6,15.6,(X),51.1,13.9
3,06037101221,Census Tract 1012.21; Los Angeles County; Cali...,380,58,43,237,42,2682,348,346,...,-,(X),59.7,8.7,(X),50,20.3,(X),54.3,7.4
4,06037101222,Census Tract 1012.22; Los Angeles County; Cali...,206,0,98,82,26,2090,132,163,...,0,(X),100,0,(X),79.8,4.8,(X),79.5,10.3

In [9]:
# now I want to re-check the data types for the whole file
# verbose shows all the columns, show_counts shows the number of non-null values
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2498 entries, 0 to 2497
Data columns (total 120 columns):
 #    Column          Non-Null Count  Dtype
---   ------          --------------  -----
 0    GEOID           2498 non-null   object
 1    NAME            2498 non-null   object
 2    S1501_C01_001E  2498 non-null   int64
 3    S1501_C01_002E  2498 non-null   int64
 4    S1501_C01_003E  2498 non-null   int64
 5    S1501_C01_004E  2498 non-null   int64
 6    S1501_C01_005E  2498 non-null   int64
 7    S1501_C01_006E  2498 non-null   int64
 8    S1501_C01_007E  2498 non-null   int64
 9    S1501_C01_008E  2498 non-null   int64
 10   S1501_C01_009E  2498 non-null   int64
 11   S1501_C01_010E  2498 non-null   int64
 12   S1501_C01_011E  2498 non-null   int64
 13   S1501_C01_012E  2498 non-null   int64
 14   S1501_C01_013E  2498 non-null   int64
 15   S1501_C01_014E  2498 non-null   int64
 16   S1501_C01_015E  2498 non-null   int64
 17   S1501_C01_016E  2498 non-null   int64
 18   S1501_C01_017E  2498 non-null   int64
 19   S1501_C01_018E  2498 non-null   int64
 20   S1501_C01_019E  2498 non-null   int64
 21   S1501_C01_020E  2498 non-null   int64
 22   S1501_C01_021E  2498 non-null   int64
 23   S1501_C01_022E  2498 non-null   int64
 24   S1501_C01_023E  2498 non-null   int64
 25   S1501_C01_024E  2498 non-null   int64
 26   S1501_C01_025E  2498 non-null   int64
 27   S1501_C01_026E  2498 non-null   int64
 28   S1501_C01_027E  2498 non-null   int64
 29   S1501_C01_028E  2498 non-null   int64
 30   S1501_C01_029E  2498 non-null   int64
 31   S1501_C01_030E  2498 non-null   int64
 32   S1501_C01_031E  2498 non-null   int64
 33   S1501_C01_032E  2498 non-null   int64
 34   S1501_C01_033E  2498 non-null   int64
 35   S1501_C01_034E  2498 non-null   int64
 36   S1501_C01_035E  2498 non-null   int64
 37   S1501_C01_036E  2498 non-null   int64
 38   S1501_C01_037E  2498 non-null   int64
 39   S1501_C01_038E  2498 non-null   int64
 40   S1501_C01_039E  2498 non-null   int64
 41   S1501_C01_040E  2498 non-null   int64
 42   S1501_C01_041E  2498 non-null   int64
 43   S1501_C01_042E  2498 non-null   int64
 44   S1501_C01_043E  2498 non-null   int64
 45   S1501_C01_044E  2498 non-null   int64
 46   S1501_C01_045E  2498 non-null   int64
 47   S1501_C01_046E  2498 non-null   int64
 48   S1501_C01_047E  2498 non-null   int64
 49   S1501_C01_048E  2498 non-null   int64
 50   S1501_C01_049E  2498 non-null   int64
 51   S1501_C01_050E  2498 non-null   int64
 52   S1501_C01_051E  2498 non-null   int64
 53   S1501_C01_052E  2498 non-null   int64
 54   S1501_C01_053E  2498 non-null   int64
 55   S1501_C01_054E  2498 non-null   int64
 56   S1501_C01_055E  2498 non-null   object
 57   S1501_C01_056E  2498 non-null   object
 58   S1501_C01_057E  2498 non-null   object
 59   S1501_C01_058E  2498 non-null   object
 60   S1501_C01_059E  2498 non-null   object
 61   S1501_C01_060E  2498 non-null   object
 62   S1501_C01_061E  2498 non-null   object
 63   S1501_C01_062E  2498 non-null   object
 64   S1501_C01_063E  2498 non-null   object
 65   S1501_C01_064E  2498 non-null   object
 66   S1501_C02_001E  2498 non-null   object
 67   S1501_C02_002E  2498 non-null   object
 68   S1501_C02_003E  2498 non-null   object
 69   S1501_C02_004E  2498 non-null   object
 70   S1501_C02_005E  2498 non-null   object
 71   S1501_C02_006E  2498 non-null   object
 72   S1501_C02_007E  2498 non-null   object
 73   S1501_C02_008E  2498 non-null   object
 74   S1501_C02_009E  2498 non-null   object
 75   S1501_C02_010E  2498 non-null   object
 76   S1501_C02_011E  2498 non-null   object
 77   S1501_C02_012E  2498 non-null   object
 78   S1501_C02_013E  2498 non-null   object
 79   S1501_C02_014E  2498 non-null   object
 80   S1501_C02_015E  2498 non-null   object
 81   S1501_C02_016E  2498 non-null   object
 82   S1501_C02_017E  2498 non-null   object
 83   S1501_C02_018E  2498 non-null   object
 84   S1501_C02_019E  2498 non-null   object
 85   S1501_C02_020E  2498 non-null   object
 86   S1501_C02_021E  2498 non-null   object
 87   S1501_C02_022E  2498 non-null   object
 88   S1501_C02_023E  2498 non-null   object
 89   S1501_C02_024E  2498 non-null   object
 90   S1501_C02_025E  2498 non-null   object
 91   S1501_C02_026E  2498 non-null   object
 92   S1501_C02_027E  2498 non-null   object
 93   S1501_C02_028E  2498 non-null   object
 94   S1501_C02_029E  2498 non-null   object
 95   S1501_C02_030E  2498 non-null   object
 96   S1501_C02_031E  2498 non-null   object
 97   S1501_C02_032E  2498 non-null   object
 98   S1501_C02_033E  2498 non-null   object
 99   S1501_C02_034E  2498 non-null   object
 100  S1501_C02_035E  2498 non-null   object
 101  S1501_C02_036E  2498 non-null   object
 102  S1501_C02_037E  2498 non-null   object
 103  S1501_C02_038E  2498 non-null   object
 104  S1501_C02_039E  2498 non-null   object
 105  S1501_C02_040E  2498 non-null   object
 106  S1501_C02_041E  2498 non-null   object
 107  S1501_C02_042E  2498 non-null   object
 108  S1501_C02_043E  2498 non-null   object
 109  S1501_C02_044E  2498 non-null   object
 110  S1501_C02_045E  2498 non-null   object
 111  S1501_C02_046E  2498 non-null   object
 112  S1501_C02_047E  2498 non-null   object
 113  S1501_C02_048E  2498 non-null   object
 114  S1501_C02_049E  2498 non-null   object
 115  S1501_C02_050E  2498 non-null   object
 116  S1501_C02_051E  2498 non-null   object
 117  S1501_C02_052E  2498 non-null   object
 118  S1501_C02_053E  2498 non-null   object
 119  S1501_C02_054E  2498 non-null   object
dtypes: int64(54), object(66)
memory usage: 2.3+ MB

In [10]:
# it does not appear that I have any null columns but I'll check again
df.columns[df.isna().all()].tolist()

[]

## Data Dictionary
Now I want to properly separate and name the columns I will be focusing on, specifically these:
-